@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
    /* size */
    --width: 1200xp;
    --width-app-image: 600px;
    /* color */
    --primary-red: #ff0066;
    --primary-purple: #ff00dd;
    --primary-gradient: linear-gradient(-90deg, var(--primary-red), var(--primary-purple));
    --color-ai: #FF9B00;
    --scolor-ai-bg: #300000;
    --color-ps: #2DAAFF;
    --scolor-ps-bg: #001833;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    width: 100vw;
    justify-content: center;
}


/* --- HEADER --- */

.header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 1200px;
    background-image: url("https://w.ladicdn.com/s1440x1216/5c760fbbb129c8245563055f/banner-20220204180352.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    max-width: var(--width);
    width: 95%;
}

.header-content .content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
}

.header-content .content-text .text,
.header-content .content-text .register .register-btn {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -5px 5px 0px #888888;
    width: 800px;
}

.header-content .content-text .text:first-child {
    background: linear-gradient(to right, var(--primary-red), var(--primary-purple));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.header-content .content-text .register {
    position: relative;
    margin: 50px 0;
    width: 300px;
    height: 150px;
}

.header-content .content-text .register .circle {
    background: var(--primary-gradient);
    border-radius: 50%;
    position: absolute;
}

.header-content .content-text .register .circle:nth-child(1) {
    top: -30px;
    right: -70px;
    display: block;
    width: 150px;
    height: 150px;
}

.header-content .content-text .register .circle:nth-child(2) {
    top: 25px;
    left: -60px;
    display: block;
    width: 120px;
    height: 120px;
}

.header-content .content-text .register .circle:nth-child(3) {
    top: 130px;
    left: 120px;
    display: block;
    width: 80px;
    height: 80px;
}

.header-content .content-text .register .register-btn {
    position: absolute;
    display: block;
    width: 300px;
    height: 150px;
    line-height: 150px;
    font-size: 50px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.header-content .content-img img {
    width: 500px;
    margin-left: 100px;
}


/* --- COURSES --- */

.courses {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.courses .course-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 200px;
    width: 1600px;
    height: 850px;
    border: solid;
    border-image-slice: 1;
    border-width: 16px;
    border-image-source: linear-gradient(to bottom, var(--primary-red), var(--primary-purple));
}

.courses .course-1 .course-1-title .title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #0f0053;
    text-shadow: -4px -4px 0 var(--primary-red), 4px 4px 0 var(--primary-purple);
}

.courses .course-1 .course-1-app {
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.courses .course-1 .course-1-app .app-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.courses .course-1 .course-1-app .app-ai {
    margin-right: 50px;
}
.courses .course-1 .course-1-app .app-ps {
    margin-left: 50px;
}

.courses .course-1 .course-1-app .app-ai .app-content {
    background-color: var(--scolor-ai-bg);
    border: 8px solid var(--color-ai);
    color: var(--color-ai);
}
.courses .course-1 .course-1-app .app-ps .app-content {
    background-color: var(--scolor-ps-bg);
    border: 8px solid var(--color-ps);
    color: var(--color-ps);
}

.courses .course-1 .course-1-app .app-container .app-image {
    width: var(--width-app-image);
}

.courses .course-1 .course-1-app .app-container .app-icon {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 100px;
    border-radius: 20px;
}

.app-ai .app-icon {
    border: 6px solid var(--color-ai);
}
.app-ps .app-icon {
    border: 6px solid var(--color-ps);
}

.courses .course-1 .course-1-app .app-container .app-content {
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width-app-image) + 50px);
    height: 250px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 40px;
}

.courses .course-1 .course-1-app .app-container .app-content span {
    width: 80%;
}

.courses .course-1 .course-1-app .app-container .app-content span b {
    color: #ffffff;
}